<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FrameRelay</string>
	<key>CFBundleExecutable</key>
	<string>FrameRelay</string>
	<key>CFBundleIdentifier</key>
	<string>com.framerelay.FrameRelay</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FrameRelay</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>FRCoreCommit</key>
	<string>587111368390479b7f65feb881c9257c02e508b5</string>
	<key>FRGStreamerVersion</key>
	<string>1.28.7</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>FrameRelay 需要在本地网络接收 iPhone 的 AirPlay 屏幕镜像。</string>
</dict>
</plist>
